<!doctype html>
<html lang="en">
  <head>
      {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Welcome To Offical Page| Er.Prasanna Muni Tuladhar</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body>

  {% include 'sniffits/nav.html' %}

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Prasanna Muni Tuladhar</h1>
            <p class="lead text-muted">Hello, I'm Prasanna Muni Tuladhar. I enjoy learning, building, and talking about new technology.
                I have previously founded a web development firm and I am currently working as a Freelance Full Stack Django Developer.

                When I am not coding , I am mostly like listening music, writing, playing games and
                <strike>cooking</strike>  eating. I love to connect with new people, so if you are interested in something I am
                doing, let's get in touch. </p>
            <img src="{% static 'junior.gif' %}" height="200px" width="auto">
            <p>
            <a href="mailto:prasanna.pmt@gmail.com?Subject=Hello%20again" target="_top" class="btn btn-primary my-2">Email me</a>

          </p>
        </div>
      </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for job in jobs %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ job.image.url }}" alt="Prasanna Tuladhar images">
                            <div class="card-body">
                                <p class="card-text">{{ job.summary}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </div>


    </main>

{% include 'sniffits/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
